[MASTER]
disable=
    C0103, # Invalid name
    C0114, # missing-module-docstring
    C0301, # Line too long (line-too-long)
    R0903, # Too few public methods (too-few-public-methods)
    R0913, # Too many arguments (too-many-arguments)
    W0703, # Catching too general exception Exception (broad-except)
    R0904, # Too many public methods (too-many-public-methods)
